fastapi==0.110.0
uvicorn[standard]==0.29.0
pydantic==2.7.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.0
xgboost==2.0.3
joblib==1.4.2
python-dotenv==1.0.1
loguru==0.7.2

# optional (for local explanations)
shap==0.45.1

# Authentication & Database
pymongo==4.6.3
bcrypt==4.1.2
python-jose[cryptography]==3.3.0
passlib==1.7.4
python-multipart==0.0.9
